In [17]:
# pip install pycaret

In [18]:
# 필요한 라이브러리 및 데이터 불러오기
import pandas as pd
from pycaret.classification import *

In [19]:
df_train = pd.read_csv("../data/train_preprocessed_delateOUT.csv")
df_test = pd.read_csv("../data/test_preprocessed.csv")

In [20]:
# PyCaret 설정 및 데이터 로드
clf1 = setup(data=df_train, target='대출등급')

In [21]:
# 모델 비교 및 선택
best_model = compare_models()

In [22]:
best_model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=2595, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
# 모델 학습
final_model = create_model(best_model)

In [24]:
# 모델 튜닝
tuned_model = tune_model(final_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [25]:
# 모델 평가
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [26]:
# 모델 예측
predictions = predict_model(tuned_model, data=df_test)

# 마지막 결과 확인
print(predictions.head())

           ID      대출금액  대출기간  근로기간  주택소유상태       연간소득  부채_대비_소득_비율  총계좌수  \
0  TEST_00000  16800000     0    11       0  132000000    19.639999    12
1  TEST_00001   8400000     0     8       2   89971200    15.840000    25
2  TEST_00002  17280000     0     9       2  150000000     8.410000    20
3  TEST_00003  14400000     0     8       0   66000000    13.720000    30
4  TEST_00004  27600000     0     8       2   55200000    30.500000    12

   대출목적  최근_2년간_연체_횟수    총상환원금     총상환이자  총연체금액  연체계좌수  prediction_label  \
0    11             0   394692  146604.0    0.0    0.0                 1
1     2             0        0       0.0    0.0    0.0                 1
2     4             0  1786980  281820.0    0.0    0.0                 0
3     4             1   669024  281724.0    0.0    0.0                 1
4     4             0  1250052  614844.0    0.0    0.0                 2

   prediction_score
0            0.5626
1            0.3138
2            0.9815
3            0.5402
4            0.6308

In [27]:
predictions

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,prediction_label,prediction_score
0,TEST_00000,16800000,0,11,0,132000000,19.639999,12,11,0,394692,146604.0,0.0,0.0,1,0.5626
1,TEST_00001,8400000,0,8,2,89971200,15.840000,25,2,0,0,0.0,0.0,0.0,1,0.3138
2,TEST_00002,17280000,0,9,2,150000000,8.410000,20,4,0,1786980,281820.0,0.0,0.0,0,0.9815
3,TEST_00003,14400000,0,8,0,66000000,13.720000,30,4,1,669024,281724.0,0.0,0.0,1,0.5402
4,TEST_00004,27600000,0,8,2,55200000,30.500000,12,4,0,1250052,614844.0,0.0,0.0,2,0.6308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,TEST_64192,30000000,0,6,0,78000000,22.080000,27,2,2,1307532,763380.0,0.0,0.0,2,0.8434
64193,TEST_64193,30000000,1,2,0,109200000,12.060000,26,2,0,960612,1245252.0,0.0,0.0,4,0.5463
64194,TEST_64194,6120000,0,2,2,39600000,28.799999,33,2,0,131520,80880.0,0.0,0.0,2,0.3074
64195,TEST_64195,11520000,0,2,0,66000000,25.440001,41,2,1,1339536,601872.0,0.0,0.0,2,0.5962
64196,TEST_64196,6000000,0,12,2,180000000,9.070000,10,2,0,308880,48960.0,0.0,0.0,0,0.5706

In [28]:
res = pd.read_csv("../data/sample_submission.csv")
res

               ID 대출등급
0      TEST_00000    G
1      TEST_00001    G
2      TEST_00002    G
3      TEST_00003    G
4      TEST_00004    G
...           ...  ...
64192  TEST_64192    G
64193  TEST_64193    G
64194  TEST_64194    G
64195  TEST_64195    G
64196  TEST_64196    G

[64197 rows x 2 columns]

In [29]:
res['대출등급'] = predictions['prediction_label']

In [30]:
res

               ID  대출등급
0      TEST_00000     1
1      TEST_00001     1
2      TEST_00002     0
3      TEST_00003     1
4      TEST_00004     2
...           ...   ...
64192  TEST_64192     2
64193  TEST_64193     4
64194  TEST_64194     2
64195  TEST_64195     2
64196  TEST_64196     0

[64197 rows x 2 columns]

In [31]:
# dic를 이용한 라벨디코딩
dic = {
    0: 'A',
    1: 'B',
    2: 'C',
    3: 'D'
}
res = res.replace({"대출등급": dic})
res

               ID 대출등급
0      TEST_00000    B
1      TEST_00001    B
2      TEST_00002    A
3      TEST_00003    B
4      TEST_00004    C
...           ...  ...
64192  TEST_64192    C
64193  TEST_64193    4
64194  TEST_64194    C
64195  TEST_64195    C
64196  TEST_64196    A

[64197 rows x 2 columns]

In [32]:
res.to_csv("../res/res_submission3.csv", index=False)